<p-card title="Configure Interview" styleClass="ui-card-shadow">
    <div class="alert alert-danger" *ngIf="!isValid"><i class="fa fa-info-circle"></i>&nbsp;Please fill the complete form</div>
    <div class="alert alert-danger" *ngIf="!canReset"><i class="fa fa-info-circle"></i>&nbsp;Cannot Reset. Candidates still in the interview process</div>
    <div class="alert alert-success" *ngIf="successSubmit"><i class="fa fa-info-circle"></i>&nbsp;Interview Successfully Configured</div>
    <hr/>
    <form [formGroup]="systemForm" (submit)="handleSubmit($event)">
      <div class="form-group">
        <label>Number of Rounds</label>
        <input type="number" placeholder="Ex: 3" class="form-control" formControlName="noOfRounds" />
      </div>
  
      <div class="form-group">
        <label>Minimum Questions</label>
        <input type="number" placeholder="Ex: 2" class="form-control" formControlName="minimumQuestions" />
      </div>
  
    <div class="form-group">
        <label>Threshold</label>
        <input type="number" placeholder="Ex: 8" class="form-control" formControlName="threshold">
      </div>
  
      <div class="form-group">
        <button type="submit" class="btn btn-success">
          <i class="fa fa-plus"></i> Set Interview</button>
      </div>
    </form>
  
  
  </p-card>