
<p-card title="Change Password" styleClass="ui-card-shadow">
  <div class="alert alert-success" *ngIf="successSubmit"><i class="fa fa-info-circle"></i>&nbsp;Password Updated Successfully</div>

  <hr/>
  <form [formGroup]="changePasswordForm" (submit)="handleSubmit($event)">
    <div class="form-group">
      <label>E-mail ID</label>
      <input readonly type="text" placeholder="E-mail" class="form-control" formControlName="email" />
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" placeholder="Password" class="form-control" formControlName="password" />
    </div>
    <button type="submit" class="btn btn-success">
      <i class="fa fa-check"></i> Update Password!</button>
  </form>
</p-card>
