<section class="login-maintop">
	<div class="login-main">
		<header><h1>JustHire</h1></header>
		<div class="login-form">
			<h2>login now</h2>
			<div class="alert alert-danger" *ngIf="!validForm"><span class="fa fa-info-circle"></span>&nbsp;Invalid Username/Password</div>
			<form class="form-group"  [formGroup]="loginForm" (submit)="handleSubmit($event)"> 
				<span><i class="fa fa-user" aria-hidden="true"></i></span>
				<input type="text" name="username" placeholder="enter your name" required="" formControlName="email">
				<span><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
				<input type="password" name="password" placeholder="enter your password" required="" formControlName="password">
				<input type="submit" value="login"> 
			</form>
			<!-- <div class="login-password">
				<span><a href="#">forgot password</a></span>
			</div> -->
			<div class="login-input">
			
			</div>
			<div class="social-icons">
				<!-- <ul>
					<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
				</ul> -->
				
			</div>
		</div>
		
	</div>
</section>