<p-card title="Question Form" styleClass="ui-card-shadow"><hr/>
  <div class="alert alert-danger" *ngIf="!isValid"><i class="fa fa-info-circle"></i>&nbsp;Please fill the form correctly</div>
  <div class="alert alert-success" *ngIf="successSubmit"><i class="fa fa-info-circle"></i>&nbsp;Question Successfully Submitted</div>
  <div>
    <form [formGroup]="addQuestionForm" (submit)="handleFormSubmit($event)">
      <div class="form-group ">
        <label>Question</label>
        <textarea class="form-control" formControlName="question"></textarea>
      </div>
      <div class="form-group">
        <label>Round Number</label>
        <select class="form-control" formControlName="round">
          <option *ngFor="let acc of rounds" [value]="acc.roundNumber">
            <ng-template [ngIf]="acc.roundNumber">{{acc.roundNumber}}</ng-template>
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Difficulty</label>
        <select name="difficulty" class="form-control" formControlName="difficulty">
          <option value="EASY">EASY</option>
          <option value="MEDIUM">MEDIUM</option>
          <option value="HARD">HARD</option>
        </select>
      </div>
      <div class="form-group">
        <label>Experience In Years</label>
        <select name="experience" class="form-control" formControlName="experience">
          <option value="0">0</option>
          <option value="1-5">1-5</option>
          <option value="5+">5+</option>
        </select>
      </div>
      <div class="form-group">
        <label>Comments</label>
        <textarea class="form-control" formControlName="comment"></textarea>
      </div>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
</p-card>